@media (max-width: 799px) {
  .section-p1 {
    padding: 40px 40px;
  }
  #header {
    padding: 0.8rem 1rem;
  }

  .navbar {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    color: black;
    text-decoration: none;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background: #e3e6f3;
    box-shadow: 10px 20px 60px rgba(0, 0, 0, 0.2);
    padding: 80px 0 0 20px;
    transition: 0.2s ease-in-out;
  }
  .navbar.active {
    right: 0px;
  }
  .navbar li {
    margin-bottom: 25px;
  }
  #bar {
    margin-left: 20px;
  }
  .mobile {
    display: block;
  }
  #close {
    margin: 0 0 25px 30px;
    display: block;
    color: black;
    font-size: 30px;
  }
  #lg-bag {
    display: none;
  }

  .hero {
    height: 70vh;
    padding: 0px 80px;
    background-position: top 30% right 30%;
  }

  #feature {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #feature .fe-box {
    margin: 15px 15px;
  }

  .pro-container {
    /* justify-content: center; */
    align-items: center;
  }

  #banner {
    height: 25vh;
    margin-bottom: 80px;
  }
  #banner h2 {
    font-size: 28px;
    display: flex;
    /* margin: auto; */
  }
  #sm-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  #sm-banner .banner-box,
  #sm-banner .banner-box2 {
    min-width: 100%;
    background-size: cover;
    background-position: center;
    height: 30vh;
  }
  #newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  #newsletter .form {
    display: flex;
    width: 70%;
  }
  button.normal {
    padding: 6px 18px;
  }
}

@media (max-width: 477px) {
  .hero {
    padding: 0px 20px;
    background-position: 58%;
  }
  h2 {
    font-size: 32px;
  }
  h1 {
    font-size: 40px;
  }
  #feature {
    padding: 10px 0px;
  }

  .section-p1 {
    padding: 16px 0px;
  }

  #feature .fe-box {
    width: 155px;

    margin: 10px 0px;
  }
  #feature {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #products .pro {
    width: 100%;
    margin-bottom: 5px;
  }
  #banner {
    height: 43vh;
    margin: 5px 0;
  }
  #banner h2 {
    margin-left: 15px;
  }
  button.normal {
    margin-bottom: 20px;
  }
  #newsletter {
    margin-top: -10px;
    margin-bottom: 0;
  }
  #newsletter .form {
    width: 90%;
    margin: auto;
  }
  footer.section-m1 {
    margin: 0px 10px;
  }


  
  
  
  
  
}

@media (max-width:798px) {
  
  #form-details {
    display: flex;justify-content: space-between;
    /* display: flex; */
    width: 95%;
    /* margin: auto; */
    padding: 10px;
    /* border: 1px solid rgb(253, 221, 228); */
  }

  .form-left {
    width: 48%;
    overflow: hidden;
}
}



/* *********************************Single-product***************************************************** */
@media (max-width:477px) {
  
  #product-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }
  #product-details #single-pro-img,   #product-details .single-pro-deatils {
    width: 95%;
    margin: auto;
    /* margin-right: 10px; */
    /* border: 5px solid black; */
  }
}
/* *********************************Single-product***************************************************** */
/* *********************************Blog-page***************************************************** */


@media (max-width:477px) {
  
  #blog{
    padding: 100px 20px 0 20px;
    
  }
  
  #blog .blog-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }
  #blog .blog-img {
    width: 100%;
    margin-right: 0px;
  }
  
  #blog .blog-deatils {
    width: 100%;
    
  }
  
  /* ************************contact page************************** */



  #contact .contact-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
}
  /* ************************contact page************************** */

  #contact{
    width: 100%;
    padding: 10px 20px;
  }
  #contact .contact-img {
    /* min-width: 200px; */
    width: 100%;
    height: 400px;
}
  
.contact-details{
  width: 100%;
}
#contact .contact-box .contact-details {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#contact .contact-box .contact-details h4, form span {
  padding: 20px;
}


#form-details {

  flex-direction: column;
 
}
.form-left {
  width: 100%;
}
#contact .contact-box .contact-details h2, form h3 {
  font-size: 20px;
 
}
#form-details form {
 
  width: 100%;
}
.form-right {
  width: 100%;
}
.form-right .people {

  width: 100%;
  margin-bottom: 0px;
}
  
}
/* *********************************Blog-page***************************************************** */
/* *********************************About-page***************************************************** */

@media (max-width:1100px) {
  
  #about{
    padding: 0 20px;
    margin-bottom: 10px;
  }
  .about-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }  
  .about-deatils{
    width: 100%;
  }
  
  #about-app .video {
  width: 90%;
  /* height: 90%; */
  margin: auto;
}
.cart-extra {
  display: flex;
  margin-top: 100px;
  width: 100%;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.cart-total {
  width: 100%;
  padding: 20px;
  
}
.coupon {
  width: 100%;
margin-bottom: 20px;
margin-left: 20px;
}





/* ************************contact page************************** */

}


/* *********************************About-page***************************************************** */